@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "boxicons/css/boxicons.min.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #FF6500;
  --secondary-color: #1E3E62;
  --tertiary-color: #0B192C;
  --highlight-color: #000000;
}


/* Elimina los estilos globales de fondo y color en el body */
body {
  font-family: Arial, Helvetica, sans-serif;
}